target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
*.project
*.settings
*.classpath
*.metadata
*.iml
*.idea
*.checkstyle
*.DS_Store
*.swp
node/
node_modules/
bin/
atlassian-ide-plugin.xml
*.sonar-ide.properties
